*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;

}
body{
    min-height: 100vh;
    display:flex;
    flex-direction: column;
}
footer{
    margin-top: auto;
}
p{
    font-size: 16px;
}
html{
    background-image: url(images/pattern-background-desktop.svg);
    background-color: hsl(225, 100%, 94%);
}
.main_element{
    border-radius:1rem 1rem 1rem 1rem ;
    background-color: white;
    max-width: 342px ;
    height: 528px;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
}
.image_one{
    width: 100%;
    border-radius: 1rem 1rem 0 0;
    
}
.header_one{
    font-size: 1.5rem;
    text-align: center;
    margin-top: 1rem;
    font-weight:900;
    color:hsl(223, 47%, 23%);
    margin-bottom: 1rem;
    margin-top:1.5rem;
}
.paragraph_one{
    text-align: center;
    color:hsl(224, 23%, 55%);
}
main div.informations{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-radius: 1rem;
    padding: 1.5rem 1rem;
    margin: 2rem 0;
    position:relative;
    bottom: 1rem;
    left:2rem;
    background-color: hsl(225, 100%, 98%);
    border-radius: 1rem;
    width: 300px;
}
main .informations .music-price{
    display:flex;
    align-items: center;
} 
main .informations .price{
    display:flex;
    flex-direction: column;
    margin-left:1rem ;
}
.change{
    margin-right: 2rem;
    color:hsl(245, 75%, 52%);
    font-size:0.9rem;
    font-weight: 900;
}
.change:hover{
    color:hsla(245, 75%, 52%, 0.712);
    text-decoration: none;
}
.button{
    display:block;
    text-align: center;
    justify-content: center;
    margin:auto;
    background-color:hsl(245, 75%, 52%);
    color:white;
    width:80%;
    height:7%;
    border:none;
    border-radius: 0.4rem;
    position:relative;
    bottom:2rem
    
}
.button:hover{
    background-color:hsla(245, 75%, 52%, 0.596)
}
.cancel-order{
    display: flex;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    color:hsl(223, 47%, 23%);
    font-weight: 800;
    position:relative;
    bottom:1rem;
    font-size:0.7rem  
}
.annual-plan{
    color:hsl(223, 47%, 23%);
    font-weight: 800;
}
span{
    color:hsl(224, 23%, 55%);
}